@{
    ViewBag.Title = "Diagram";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="chart_container">
    <canvas id="bar_chart"></canvas>
    <canvas id="myChart" width="10" height="10"></canvas>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/Chart.js")
    @Scripts.Render("~/scripts/chartone.js")
}