@{
    ViewBag.Title = "Home Page";
}



<form class="form-inline">
    <select class="form-control">
        @foreach (var b in Model) {
            <option value="@b.Name">@b.Name</option>

        }
    </select>
    <input type="text" class="form-control" placeholder="q">
    <input type="text" class="form-control" placeholder="cost">
    <input type="text" class="form-control" placeholder="sum" readonly>
</form>

<input class="btn btn-success" type="button" value="Save">

