@model IEnumerable<TinyShop.Models.Product>

@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<h2>Edit product</h2>

<div class="row">
    <div class="col-xs-4">
        @foreach (var product in Model) {
            <input type="text" class="form-control" value="@product.Name">
        }
    </div>
</div>

<h2>Add new product</h2>

@using (Html.BeginForm()) {
    <label>Product name:</label>
    <div class="row">
        <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Enter the name...">
        </div>
    </div>
    <br /><br />
    <input class="btn btn-success" type="submit" value="Add">
}