@model List<TinyShop.Models.Product>

<h2>Edit product</h2>

@using (Html.BeginForm("ChangeProduct", "Home", FormMethod.Post)) {
    <label>Product name:</label>
    <div class="row">
        <div class="col-sm-4">
            @for (int i = 0; i < Model.Count; i++) {
                <input type="hidden" name="productList[@i].ProductId" class="form-control" value="@Model[i].ProductId">
                <input type="text" name="productList[@i].Name" class="form-control" value="@Model[i].Name">
                <button type="button" class="btn btn-danger">Delete</button>
            }
        </div>
    </div>
    <br/>
    <input class="btn btn-success" type="submit" value="Change">
}




<h2>Add new product</h2>

@using (Html.BeginForm("Сonfiguration", "Home", FormMethod.Post)) {
    <label>Product name:</label>
    <div class="row">
        <div class="col-sm-4">
            <input type="text" name="Name" class="form-control" placeholder="Enter the name...">
        </div>
    </div>
    <br />
    <input class="btn btn-success" type="submit" value="Add">
}