@model List<TinyShop.Models.Product>

<h2>Edit or delete product:</h2>
    <div class="row">
        <div class="col-sm-4">
            @foreach (var product in Model) {
                using (Html.BeginForm("ChangeProduct", "Home", FormMethod.Post)) {
                    <div class="input-group">
                        <input type="hidden" name="product.ProductId" class="form-control" value="@product.ProductId">
                        <input type="text" name="product.Name" class="form-control" value="@product.Name">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" name="action" value="change">Change</button>
                            <button type="submit" class="btn btn-danger" name="action" value="delete">Delete</button>
                        </span>
                    </div>
                }
            }
        </div>
    </div>
    <br/>

<h2>Add new product:</h2>

@using (Html.BeginForm("Сonfiguration", "Home", FormMethod.Post)) {
    <div class="row">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" name="Name" class="form-control" placeholder="Enter the name...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success" value="Add">Add</button>
                </span>
            </div>
        </div>
    </div>
}
